:root{
    --primary-color: rgb(20, 16, 59);
    --white-color: #FFFFFF;
    --gap: 3rem;
    --light-gray-color: #EEEEEE;
    --secondary-color: crimson;
    --dark-gray-color: #e6e6e6;
    --primary-color-table: rgb(38, 27, 124);
}

